
<div class="field-choice-energysaving">

    <div class="energy-line-vertical-specparam">
    </div>
    <form id ="choice_energysaving_category" method="post"  action="">

           <div class="energy-shape-block-line">
               <div class="energy-shape-cell-line">
               </div>
           </div>

           <div class="energy-shape-bulb">

               <div class="energy-name-select-shape">
                   <span class="energy-style-select-shape">Форма колби:</span>
               </div>
               <div class="energy-category-shape-bulb">
                   <ul>
                       <li>
                           <input id="check_pear" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="pear" alt="" >
                           <label for="check_pear">
                               <i class="cross">Груша</i>
                           </label>
                       </li>

                       <li>
                           <input id="check_ball" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="ball" alt="" >
                           <label for="check_ball">
                               <i class="cross">Куля</i>
                           </label>
                       </li>

                       <li>
                           <input id="check_candle" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="candle" alt="" >
                           <label for="check_candle">
                               <i class="cross">Свіча</i>
                           </label>
                       </li>

                       <li>
                           <input id="check_special" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="special" alt=""  >
                           <label for="check_special">
                               <i class="cross">Особлива</i>
                           </label>
                       </li>
                   </ul>
               </div>

           </div>

           <div class="energy-dado-block-line">
               <div class="energy-dado-cell-line">
               </div>
           </div>

           <div class="energy-dado">
               <div class="energy-name-select-dado">
                   <span class="energy-style-select-dado">Цоколь:</span>
               </div>
               <div class="energy-category-dado">
                   <ul>
                       <li>
                           <input id="check_E14" type="checkbox" name="choiceSocle[]" value="E14" alt="">
                           <label for="check_E14">
                               <i class="cross">E14</i>
                           </label>
                       </li>

                       <li>
                           <input id="check_E27" type="checkbox" name="choiceSocle[]" value="E27" alt="">
                           <label for="check_E27">
                               <i class="cross">E27</i>
                           </label>
                       </li>
                   </ul>
               </div>
           </div>

           <div class="energy-brand-block-line">
               <div class="energy-brand-cell-line">
               </div>
           </div>

           <div class="energy-brand">
               <div class="energy-name-select-brand">
                   <span class="energy-style-select-brand">Виробник:</span>
               </div>
               <div class="energy-category-brand">
                   <ul>
                       <li>
                           <input id="economka" type="checkbox" name="choiceBrand[]" value="economka" alt="">
                           <label for="economka">
                               <i class="cross">Economka</i>
                           </label>
                       </li>
                   </ul>
               </div>
           </div>

           <div class="energy-color-light-block-line">
               <div class="energy-color-light-cell-line">
               </div>
           </div>

           <div class="energy-color-light">
               <div class="energy-name-select-color">
                   <span class="energy-style-select-color">Колір світла:</span>
               </div>
               <div class="energy-category-color">
                   <ul>
                       <li>
                           <input id="neutral" type="checkbox" name="choiceColor[]" value="neutral" alt="">
                           <label for="neutral">
                               <i class="cross">Нейтральний</i>
                           </label>
                       </li>

                       <li>
                           <input id="warm" type="checkbox" name="choiceColor[]" value="warm" alt="">
                           <label for="warm">
                               <i class="cross">Теплий</i>
                           </label>
                       </li>
                   </ul>
               </div>
           </div>

           <div class="energy-electric-power-block-line">
               <div class="energy-electric-power-cell-line">
               </div>
           </div>

           <div class="energy-electric-power">
               <div class="energy-name-select-power">
                   <span class="energy-style-select-power">Потужність(Вт):</span>
               </div>
               <div class="energy-category-power">
                   <ul>
                       <li>
                           <input id="_2till5" type="checkbox" name="choicePower[]" value="_2till5" alt="">
                           <label for="_2till5">
                               <i class="cross">Від 2 до 5</i>
                           </label>
                       </li>

                       <li>
                           <input id="_5till12" type="checkbox" name="choicePower[]" value="_5till12" alt="">
                           <label for="_5till12">
                               <i class="cross">Від 5 до 12</i>
                           </label>
                       </li>

                       <li>
                           <input id="_12till20" type="checkbox" name="choicePower[]" value="_12till20" alt="">
                           <label for="_12till20">
                               <i class="cross">Від 12 до 20</i>
                           </label>
                       </li>
                   </ul>
               </div>
           </div>

           <div class="energy-clasp-block-line">
               <div class="energy-clasp-cell-line">
               </div>
           </div>

        </form>

</div>

