
<div class="field-choice-filament">

    <div class="filament-line-vertical-specparam">

        <form id ="choice_filament_category" method="post"  action="">

            <div class="halogen-shape-block-line">
                <div class="filament-shape-cell-line">
                </div>
            </div>

            <div class="filament-shape-bulb">

                <div class="filament-name-select-shape">
                    <span class="filament-style-select-shape">Форма колби:</span>
                </div>
                <div class="filament-category-shape-bulb">
                    <ul>
                        <li>
                            <input id="check_dot" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="dot" alt="" >
                            <label for="check_dot">
                                <i class="cross">Точка</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_ball" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="ball" alt="" >
                            <label for="check_ball">
                                <i class="cross">Свіча</i>
                            </label>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="filament-dado-block-line">
                <div class="filament-dado-cell-line">
                </div>
            </div>

            <div class="filament-dado">
                <div class="filament-name-select-dado">
                    <span class="filament-style-select-dado">Цоколь:</span>
                </div>
                <div class="filament-category-dado">
                    <ul>
                        <li>
                            <input id="check_E27" type="checkbox" name="choiceSocle[]" value="E27" alt="">
                            <label for="check_E27">
                                <i class="cross">E27</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_CU5.3" type="checkbox" name="choiceSocle[]" value="CU5.3" alt="">
                            <label for="check_CU5.3">
                                <i class="cross">CU5.3</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="filament-brand-block-line">
                <div class="filament-brand-cell-line">
                </div>
            </div>

            <div class="filament-brand">
                <div class="filament-name-select-brand">
                    <span class="filament-style-select-brand">Виробник:</span>
                </div>
                <div class="filament-category-brand">
                    <ul>
                        <li>
                            <input id="saturn" type="checkbox" name="choiceBrand[]" value="saturn" alt="">
                            <label for="saturn">
                                <i class="cross">Saturn</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="filament-color-light-block-line">
                <div class="filament-color-light-cell-line">
                </div>
            </div>

            <div class="filament-color-light">
                <div class="filament-name-select-color">
                    <span class="filament-style-select-color">Колір світла:</span>
                </div>
                <div class="filament-category-color">
                    <ul>
                        <li>
                            <input id="cold" type="checkbox" name="choiceColor[]" value="cold" alt="">
                            <label for="cold">
                                <i class="cross">Холодний</i>
                            </label>
                        </li>

                        <li>
                            <input id="warm" type="checkbox" name="choiceColor[]" value="warm" alt="">
                            <label for="warm">
                                <i class="cross">Теплий</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="filament-electric-power-block-line">
                <div class="filament-electric-power-cell-line">
                </div>
            </div>

            <div class="filament-electric-power">
                <div class="filament-name-select-power">
                    <span class="filament-style-select-power">Потужність(Вт):</span>
                </div>
                <div class="filament-category-power">
                    <ul>
                        <li>
                            <input id="_2till5" type="checkbox" name="choicePower[]" value="_2till5" alt="">
                            <label for="_2till5">
                                <i class="cross">Від 2 до 5</i>
                            </label>
                        </li>

                        <li>
                            <input id="_5till12" type="checkbox" name="choicePower[]" value="_5till12" alt="">
                            <label for="_5till12">
                                <i class="cross">Від 5 до 12</i>
                            </label>
                        </li>

                        <li>
                            <input id="_12till20" type="checkbox" name="choicePower[]" value="_12till20" alt="">
                            <label for="_12till20">
                                <i class="cross">Від 12 до 20</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="filament-clasp-block-line">
                <div class="filament-clasp-cell-line">
                </div>
            </div>

        </form>
    </div>
</div>
