
<div class="field-choice-fluorescent">

    <div class="fluorescent-line-vertical-specparam">
        <form id ="choice_fluorescent_category" method="post"  action="">

            <div class="fluorescent-shape-block-line">
                <div class="fluorescent-shape-cell-line">
                </div>
            </div>

            <div class="fluorescent-shape-bulb">

                <div class="fluorescent-name-select-shape">
                    <span class="fluorescent-style-select-shape">Форма колби:</span>
                </div>
                <div class="fluorescent-category-shape-bulb">
                    <ul>
                        <li>
                            <input id="check_mushroom" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="mushroom" alt="" >
                            <label for="check_mushroom">
                                <i class="cross">Гриб</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_pear" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="pear" alt="" >
                            <label for="check_pear">
                                <i class="cross">Груша</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_dot" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="dot" alt="" >
                            <label for="check_dot">
                                <i class="cross">Точка</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_candle" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="candle" alt=""  >
                            <label for="check_candle">
                                <i class="cross">Свіча</i>
                            </label>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="fluorescent-dado-block-line">
                <div class="fluorescent-dado-cell-line">
                </div>
            </div>

            <div class="fluorescent-dado">
                <div class="fluorescent-name-select-dado">
                    <span class="fluorescent-style-select-dado">Цоколь:</span>
                </div>
                <div class="fluorescent-category-dado">
                    <ul>
                        <li>
                            <input id="check_E14" type="checkbox" name="choiceSocle[]" value="E14" alt="">
                            <label for="check_E14">
                                <i class="cross">E14</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_E27" type="checkbox" name="choiceSocle[]" value="E27" alt="">
                            <label for="check_E27">
                                <i class="cross">E27</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_Gu5.3" type="checkbox" name="choiceSocle[]" value="Gu5.3" alt="">
                            <label for="check_Gu5.3">
                                <i class="cross">Gu5.3</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fluorescent-brand-block-line">
                <div class="fluorescent-brand-cell-line">
                </div>
            </div>

            <div class="fluorescent-brand">
                <div class="fluorescent-name-select-brand">
                    <span class="fluorescent-style-select-brand">Виробник:</span>
                </div>
                <div class="fluorescent-category-brand">
                    <ul>
                        <li>
                            <input id="maxus" type="checkbox" name="choiceBrand[]" value="maxus" alt="">
                            <label for="maxus">
                                <i class="cross">Maxus</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fluorescent-color-light-block-line">
                <div class="fluorescent-color-light-cell-line">
                </div>
            </div>

            <div class="fluorescent-color-light">
                <div class="fluorescent-name-select-color">
                    <span class="fluorescent-style-select-color">Колір світла:</span>
                </div>
                <div class="fluorescent-category-color">
                    <ul>
                        <li>
                            <input id="neutral" type="checkbox" name="choiceColor[]" value="neutral" alt="">
                            <label for="neutral">
                                <i class="cross">Нейтральний</i>
                            </label>
                        </li>

                        <li>
                            <input id="warm" type="checkbox" name="choiceColor[]" value="warm" alt="">
                            <label for="warm">
                                <i class="cross">Теплий</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fluorescent-electric-power-block-line">
                <div class="fluorescent-electric-power-cell-line">
                </div>
            </div>

            <div class="fluorescent-electric-power">
                <div class="fluorescent-name-select-power">
                    <span class="fluorescent-style-select-power">Потужність(Вт):</span>
                </div>
                <div class="fluorescent-category-power">
                    <ul>
                        <li>
                            <input id="_2till5" type="checkbox" name="choicePower[]" value="_2till5" alt="">
                            <label for="_2till5">
                                <i class="cross">Від 2 до 5</i>
                            </label>
                        </li>

                        <li>
                            <input id="_5till12" type="checkbox" name="choicePower[]" value="_5till12" alt="">
                            <label for="_5till12">
                                <i class="cross">Від 5 до 12</i>
                            </label>
                        </li>

                        <li>
                            <input id="_12till20" type="checkbox" name="choicePower[]" value="_12till20" alt="">
                            <label for="_12till20">
                                <i class="cross">Від 12 до 20</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fluorescent-clasp-block-line">
                <div class="fluorescent-clasp-cell-line">
                </div>
            </div>

        </form>
    </div>
</div>

