
<div class="field-choice-halogen">

    <div class="halogen-line-vertical-specparam">
        <form id ="choice_halogen_category" method="post"  action="">

            <div class="halogen-shape-block-line">
                <div class="halogen-shape-cell-line">
                </div>
            </div>

            <div class="halogen-shape-bulb">

                <div class="halogen-name-select-shape">
                    <span class="halogen-style-select-shape">Форма колби:</span>
                </div>
                <div class="halogen-category-shape-bulb">
                    <ul>
                        <li>
                            <input id="check_pear" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="pear" alt="" >
                            <label for="check_pear">
                                <i class="cross">Груша</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_dot" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="dot" alt="" >
                            <label for="check_dot">
                                <i class="cross">Точка</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_candle" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="candle" alt="" >
                            <label for="check_candle">
                                <i class="cross">Свіча</i>
                            </label>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="halogen-dado-block-line">
                <div class="halogen-dado-cell-line">
                </div>
            </div>

            <div class="halogen-dado">
                <div class="halogen-name-select-dado">
                    <span class="halogen-style-select-dado">Цоколь:</span>
                </div>
                <div class="halogen-category-dado">
                    <ul>
                        <li>
                            <input id="check_E14" type="checkbox" name="choiceSocle[]" value="E14" alt="">
                            <label for="check_E14">
                                <i class="cross">E14</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_E27" type="checkbox" name="choiceSocle[]" value="E27" alt="">
                            <label for="check_E27">
                                <i class="cross">E27</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_CU10" type="checkbox" name="choiceSocle[]" value="CU10" alt="">
                            <label for="check_CU10">
                                <i class="cross">CU10</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="halogen-brand-block-line">
                <div class="halogen-brand-cell-line">
                </div>
            </div>

            <div class="halogen-brand">
                <div class="halogen-name-select-brand">
                    <span class="halogen-style-select-brand">Виробник:</span>
                </div>
                <div class="halogen-category-brand">
                    <ul>
                        <li>
                            <input id="ergo" type="checkbox" name="choiceBrand[]" value="ergo" alt="">
                            <label for="ergo">
                                <i class="cross">Ergo</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="halogen-color-light-block-line">
                <div class="halogen-color-light-cell-line">
                </div>
            </div>

            <div class="halogen-color-light">
                <div class="halogen-name-select-color">
                    <span class="halogen-style-select-color">Колір світла:</span>
                </div>
                <div class="halogen-category-color">
                    <ul>
                        <li>
                            <input id="neutral" type="checkbox" name="choiceColor[]" value="neutral" alt="">
                            <label for="neutral">
                                <i class="cross">Нейтральний</i>
                            </label>
                        </li>

                        <li>
                            <input id="warm" type="checkbox" name="choiceColor[]" value="warm" alt="">
                            <label for="warm">
                                <i class="cross">Теплий</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="halogen-electric-power-block-line">
                <div class="halogen-electric-power-cell-line">
                </div>
            </div>

            <div class="halogen-electric-power">
                <div class="halogen-name-select-power">
                    <span class="halogen-style-select-power">Потужність(Вт):</span>
                </div>
                <div class="halogen-category-power">
                    <ul>
                        <li>
                            <input id="_2till5" type="checkbox" name="choicePower[]" value="_2till5" alt="">
                            <label for="_2till5">
                                <i class="cross">Від 2 до 5</i>
                            </label>
                        </li>

                        <li>
                            <input id="_5till12" type="checkbox" name="choicePower[]" value="_5till12" alt="">
                            <label for="_5till12">
                                <i class="cross">Від 5 до 12</i>
                            </label>
                        </li>

                        <li>
                            <input id="_12till20" type="checkbox" name="choicePower[]" value="_12till20" alt="">
                            <label for="_12till20">
                                <i class="cross">Від 12 до 20</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="halogen-clasp-block-line">
                <div class="halogen-clasp-cell-line">
                </div>
            </div>

        </form>
    </div>
</div>


