
<div class="field-choice-led">

    <div class="led-line-vertical-specparam">
        <form id ="choice_led_category" method="post"  action="">

            <div class="led-shape-block-line">
                <div class="led-shape-cell-line">
                </div>
            </div>

            <div class="led-shape-bulb">

                <div class="led-name-select-shape">
                    <span class="led-style-select-shape">Форма колби:</span>
                </div>
                <div class="led-category-shape-bulb">
                    <ul>
                        <li>
                            <input id="check_pear" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="pear" alt="" >
                            <label for="check_pear">
                                <i class="cross">Груша</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_capsule" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="capsule" alt="" >
                            <label for="check_capsule">
                                <i class="cross">Капсула</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_candle" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="candle" alt=""  >
                            <label for="check_candle">
                                <i class="cross">Свіча</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_tube" type="checkbox" placeholder="" name="choiceShapeBulb[]" value="tube" alt="" >
                            <label for="check_tube">
                                <i class="cross">Труба</i>
                            </label>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="led-dado-block-line">
                <div class="led-dado-cell-line">
                </div>
            </div>

            <div class="led-dado">
                <div class="led-name-select-dado">
                    <span class="led-style-select-dado">Цоколь:</span>
                </div>
                <div class="led-category-dado">
                    <ul>
                        <li>
                            <input id="check_E14" type="checkbox" name="choiceSocle[]" value="E14" alt="">
                            <label for="check_E14">
                                <i class="cross">E14</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_E27" type="checkbox" name="choiceSocle[]" value="E27" alt="">
                            <label for="check_E27">
                                <i class="cross">E27</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_G4" type="checkbox" name="choiceSocle[]" value="G4" alt="">
                            <label for="check_G4">
                                <i class="cross">G4</i>
                            </label>
                        </li>

                        <li>
                            <input id="check_G13" type="checkbox" name="choiceSocle[]" value="G13" alt="">
                            <label for="check_G13">
                                <i class="cross">G13</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="led-brand-block-line">
                <div class="led-brand-cell-line">
                </div>
            </div>

            <div class="led-brand">
                <div class="led-name-select-brand">
                    <span class="led-style-select-brand">Виробник:</span>
                </div>
                <div class="led-category-brand">
                    <ul>
                        <li>
                            <input id="maxus" type="checkbox" name="choiceBrand[]" value="maxus" alt="">
                            <label for="maxus">
                                <i class="cross">Maxus</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="led-color-light-block-line">
                <div class="led-color-light-cell-line">
                </div>
            </div>

            <div class="led-color-light">
                <div class="led-name-select-color">
                    <span class="led-style-select-color">Колір світла:</span>
                </div>
                <div class="led-category-color">
                    <ul>
                        <li>
                            <input id="cold" type="checkbox" name="choiceColor[]" value="cold" alt="">
                            <label for="cold">
                                <i class="cross">Холодний</i>
                            </label>
                        </li>

                        <li>
                            <input id="warm" type="checkbox" name="choiceColor[]" value="warm" alt="">
                            <label for="warm">
                                <i class="cross">Теплий</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="led-electric-power-block-line">
                <div class="led-electric-power-cell-line">
                </div>
            </div>

            <div class="led-electric-power">
                <div class="led-name-select-power">
                    <span class="led-style-select-power">Потужність(Вт):</span>
                </div>
                <div class="led-category-power">
                    <ul>
                        <li>
                            <input id="_2till5" type="checkbox" name="choicePower[]" value="_2till5" alt="">
                            <label for="_2till5">
                                <i class="cross">Від 2 до 5</i>
                            </label>
                        </li>

                        <li>
                            <input id="_5till12" type="checkbox" name="choicePower[]" value="_5till12" alt="">
                            <label for="_5till12">
                                <i class="cross">Від 5 до 12</i>
                            </label>
                        </li>

                        <li>
                            <input id="_12till20" type="checkbox" name="choicePower[]" value="_12till20" alt="">
                            <label for="_12till20">
                                <i class="cross">Від 12 до 20</i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="led-clasp-block-line">
                <div class="led-clasp-cell-line">
                </div>
            </div>

        </form>
    </div>
</div>

