/*
@media (max-width: 3840px) and (min-width: 1025px)

@media (max-width: 1024px) and (min-width: 769px) // <3840..>769
*/
@media (max-width: 3840px) and (min-width: 800px) /* <3840..>800*/
{


    .chief
    {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        height: 1000px;

        background-color: rgb(225,224,207);
        position: relative;
    }

    .body-roof{
        width: 800px;
        height:25px;
        position:relative;

    }
       .contact{
          width: 800px;
          height:25px;
          position:relative;
          margin: 0 auto;
          background-color: rgb(255,255,255);
    }

          .text-contact-motto{
              font-family: 'Caveat', cursive;
              color: rgb(0,0,0);
              font-size: 19px;
              margin: auto  auto auto 50px; /*520px ;*/
              position:absolute;
          }
          .maquette{
              font-family: 'Caveat', cursive;
              color: rgb(255,255,255);
              font-size: 19px;
              margin: auto  auto auto 413px;
              position:absolute;
          }
          .text-telephone{
              font-family: 'Caveat', cursive;
              color: rgb(0,0,0);
              font-size: 19px;
              margin: auto  auto auto 650px ;
              position:absolute;
          }
          .text-telephone a {
              text-decoration: none;
              color: rgb(0,28,45);
              }
          .text-telephone a:hover{
              text-decoration: none;
              color: rgb(255,255,255);
          }

    .body-header{
        width: 800px;
        height:80px;
        position:absolute;
        margin: 0 auto;
        background-color: rgb(255,255,255);
    }
         .logo{
             width: 220px;
             height:80px;
             position:absolute;
             margin: 0 ;
             background-color: rgb(255,255,255);
         }
         .img-logo{
             margin: auto 70px ;

         }
         .service{
             width: 580px;
             height:80px;
             position:relative;
             margin:0 0 0 220px ;
             background-color: rgb(255,255,255);

         }
            .common-data{
                width: 580px;
                height:40px;
                position:absolute;
                margin:0 0 0 0 ;
                background-color: rgb(255,255,255);
            }
                .text-common-delivery{
                    width: 192px;
                    height:40px;
                    text-align: center;

                    font-family: 'Caveat', cursive;
                    color: rgb(0,0,0);
                    font-size: 21px;

                    left: auto;
                    right: auto;
                    position:absolute;
                }
                      .text-common-delivery a{
                          text-decoration: none;
                          color: rgb(0,0,16);
                      }
                      .text-common-delivery a:hover{
                          text-decoration: none;
                          color: rgb(62,119,187);
                      }
                .text-common-guarantee{
                    width: 192px;
                    height:40px;
                    text-align: center;

                    font-family: 'Caveat', cursive;
                    color: rgb(0,0,0);
                    font-size: 21px;

                    left: 194px;
                    right: auto;
                    position:absolute;
                }
                      .text-common-guarantee a{
                          text-decoration: none;
                          color: rgb(0,0,16);
                      }
                      .text-common-guarantee a:hover{
                          text-decoration: none;
                          color: rgb(62,119,187);
                      }
                .text-common-order{
                    width: 192px;
                    height:40px;
                    text-align: center;

                    font-family: 'Caveat', cursive;
                    color: rgb(0,0,0);
                    font-size: 21px;

                    left: 386px;
                    right: auto;
                    position:absolute;
                }
                      .text-common-order a {
                          text-decoration: none;
                          color: rgb(0, 0, 16);
                      }
                      .text-common-order  a:hover{
                          text-decoration: none;
                          color: rgb(62,119,187);
                      }

                .line-left{
                    top:5px;
                    left: 193px;

                    width: 1px;
                    height:30px;
                    position: absolute;
                    background-color: rgb(225,224,207);
                    border: 1px  rgb(225,224,207);

                }
                .line-right{
                    top: 5px;
                    left: 385px;

                    width: 1px;
                    height:30px;
                    position:absolute;
                    background-color: rgb(225,224,207);
                    border: 1px  rgb(225,224,207);

                }
            .search{
                width: 290px;
                height:40px;
                position:absolute;
                margin:40px 0 0 0 ;
                background-color: rgb(255,255,255);
            }
               .circle-search{
                   width: 282px;
                   height:30px;
                   position:absolute;
                   margin:5px 4px;
                   background-color: rgb(255,255,255);

                   /* border: 1px solid rgb(72,64,160); */
                    border-radius: 10px 10px 10px 10px ;
                    box-shadow: 0 0 1px rgba(0,0,0,0.5); /* */
               }

                  .circle-search input{
                      all:inherit;
                      margin:auto auto ;
                      border: none;
                      font-family: 'Caveat', cursive;
                      font-size: 19px;
                  }
               .button-search{
                   width: 22px;
                   height:22px;
                   position:relative;
                   margin:2px 0px auto 256px ;/* 4 0 4 0  ->260*/
                   background-color: rgb(255,255,255);


               }
                  .button-search input[type="image"]{
                      all:inherit;
                      width: 22px;
                      height:22px;

                      margin:auto auto ;
                      border: none;
                  }
            .person-data{
                width: 290px;
                height:40px;
                position:absolute;
                left: 290px;
                margin:40px 0 0 0 ;
                background-color: rgb(255,255,255);
            }
               .text-person-basket{
                   width: 145px;
                   height:40px;
                   text-align: center;

                   font-family: 'Caveat', cursive;
                   color: rgb(0,0,0);
                   font-size: 21px;

                   left: 35px;
                   right: auto;
                   position:absolute;
               }
                    .text-person-basket a {
                        text-decoration: none;
                        color: rgb(0, 0, 16);
                    }
                    .text-person-basket  a:hover{
                        text-decoration: none;
                        color: rgb(62,119,187);
                    }

               .text-person-entry{
                   width: 145px;
                   height:40px;
                   text-align: center;

                   font-family: 'Caveat', cursive;
                   color: rgb(0,0,0);
                   font-size: 21px;

                   left: 188px;
                   right: auto;
                   position:absolute;
               }
               .text-person-entry a {
                  text-decoration: none;
                  color: rgb(0, 0, 16);
               }
               .text-person-entry  a:hover{
                   text-decoration: none;
                   color: rgb(62,119,187);
               }



    .main-container{
        width: 800px;
        height:800px;
        position:absolute;
        background-color: #ffffff;

        margin: 80px auto  ;

    }
        .catalog{
            width: 220px;
            height: 800px;
            position: absolute;
            margin: 0 auto  ;
            background-color: rgb(255,255, 255);

        }

        .basic-kind{
            width: 220px;
            height: 200px;
            position: relative;
            margin: 0 auto  ;
            background-color: rgb(255,255,255);
        }
           .text-basic-kind{
               width: 220px;
               height:30px;
               text-align: center;

               font-family: 'Caveat', cursive;
               color: rgb(0,0,0);
               font-size: 26px;
               top: 0px;
               left: auto;
               right: auto;
               position:relative;
           }
           .text-basic-kind a {
              text-decoration: none;
              color: rgb(0, 0, 16);
           }
           .text-basic-kind  a:hover{
              text-decoration: none;
               color: rgb(62,119,187);
           }
           .energySaving{
               width: 149px;
               height:25px;
               top: 30px;
               left: 7px;
               position:absolute;
               background-color: rgb(248,248,248);
               border-radius: 10px;


           }
             .energySaving a {
                 text-decoration: none;
                 font-family: 'Lobster', cursive;
                 font-size: 16px;
                 color: rgb(0, 0, 0);
                 opacity: 0.5;
             }
             .energySaving  a:hover{
                 text-decoration: none;
                 color: rgb(62,119,187);
             }

           .halogen{
               width: 149px;
               height:25px;
               top: 65px;
               left: 7px;

               position:absolute;
               background-color: rgb(248,248,248);
               border-radius: 10px;
           }
               .halogen a {
                   text-decoration: none;
                   font-family: 'Lobster', cursive;
                   font-size: 16px;
                   color: rgb(0, 0, 0);
                   opacity: 0.5;
               }
               .halogen  a:hover{
                   text-decoration: none;
                   color: rgb(62,119,187);
               }
           .fluorescent{
               width: 149px;
               height:25px;
               top: 100px;
               left: 7px;

               position:absolute;
               background-color: rgb(248,248,248);
               border-radius: 10px;
               font-family: 'Lobster', cursive;
           }
              .fluorescent a{
                  text-decoration: none;
                  font-family: 'Lobster', cursive;
                  font-size: 16px;
                  color: rgb(0, 0, 0);
                  opacity: 0.5;
              }
              .fluorescent  a:hover{
                  text-decoration: none;
                  color: rgb(62,119,187);
    }
           .led{
               width: 149px;
               height:25px;
               top: 135px;
               left: 7px;

               position:absolute;
               background-color: rgb(248,248,248);
               border-radius: 10px;
               font-family: 'Lobster', cursive;
           }
              .led a{
                  text-decoration: none;
                  font-family: 'Lobster', cursive;
                  font-size: 16px;
                  color: rgb(0, 0, 0);
                  opacity: 0.5;
              }
              .led  a:hover{
                  text-decoration: none;
                  color: rgb(62,119,187);
              }
           .filament{
              width: 149px;
              height:25px;
              top: 170px;
              left: 7px;

              position:absolute;
              background-color: rgb(248,248,248);
              border-radius: 10px;
              font-family: 'Lobster', cursive;
           }
              .filament a{
                  text-decoration: none;
                  font-family: 'Lobster', cursive;
                  font-size: 16px;
                  color: rgb(0, 0, 0);
                  opacity: 0.5;
              }
              .filament  a:hover{
                  text-decoration: none;
                  color: rgb(62,119,187);
              }

           .line-vertical-basickind{
              margin: 2px 2px auto;

              height:168px;
              width: 1px;
              position: absolute;
              background-color: rgb(225,224,207);
              /* border: 1px  rgb(225,224,207); */
           }
        .specific-param{
            width: 220px;
            height: 600px;
            position: absolute;
            margin: 0 auto  ;
            background-color: rgb(255, 255, 255);
        }



    /*---------ch_energysaving.html----------------------*/


    .field-choice-energysaving{
        width:  220px;
        height: 600px;
        position: absolute;
        background: url(../../../publicstirpes/images/main-container/catalog/choiceSpecParam/grid.jpg) no-repeat;
        background-size: 207px 467px;
        background-position: right 3px top 1px;
     }
    .energy-line-vertical-specparam{
        margin: 1px 2px;

        height:468px;/*470*/
        width: 1px;
        position: absolute;
        background-color: rgb(225,224,207);

    }

    .field-choice-energysaving li {
        list-style-type: none; /* Убираем маркеры */
    }
    .field-choice-energysaving ul {
        margin-left: 3px; /* Отступ слева в браузере IE и Opera */
        padding-left: 3px; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
    .cross{
        cursor: pointer;
    }

    /*----*/

    .energy-shape-block-line{
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .energy-shape-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 1px 3px auto ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .energy-shape-bulb{
        position: absolute;
        top: 5px;
        left: 10px;
        width:207px;
        height:140px;

        background: rgb(255,255,255);
        opacity:0.9;
    }
    .energy-name-select-shape{
        width:220px;
        height:20px;
        background:rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .energy-style-select-shape{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .energy-category-shape-bulb{
        position: absolute;
        font-family: 'Forum', cursive;
        background:rgb(255,255,255);
        left: 65px;
        width:115px;
        height:120px;
        top: 20px;
    }
    .energy-category-shape-bulb:hover{
        background:rgb(248,248,248);
        border-radius: 10%;

    }

    /*--------------------------------------------*/
    /*----*/

    .energy-dado-block-line{
        top: 145px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .energy-dado-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 1px 3px auto ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .energy-dado{
        position: absolute;
        top: 150px;
        left: 10px;
        width:207px;
        height:75px;
        background:rgb(255,255,255);
        opacity:0.9;

    }
    .energy-name-select-dado{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .energy-style-select-dado{
        background:rgb(248,248,248);
        border-radius: 30%;


    }
    .energy-category-dado{
        position: absolute;
        font-family: 'Forum', cursive;
        background:rgb(255,255,255);
        left: 65px;
        width:115px;
        height:55px;
        top: 20px;
    }
    .energy-category-dado:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }

    /*------*/

    /*----*/

    .energy-brand-block-line{
        top: 225px;

        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .energy-brand-cell-line{
        width:  210px;
        height: 1px;
        position: absolute;
        margin: 2px 5px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .energy-brand{
        position: absolute;
        top: 230px;
        left: 10px;
        width:207px;
        height:40px;
        background: rgb(255,255,255);
        opacity:0.9;
    }
    .energy-name-select-brand{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .energy-style-select-brand{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .energy-category-brand{
        position: absolute;
        font-family: 'Forum', cursive;
        background: rgb(255,255,255);
        left: 65px;
        width:115px;
        height:20px;
    }
    .energy-category-brand:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }

    /*------*/
    /*----*/

    .energy-color-light-block-line{
        top: 270px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .energy-color-light-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 1px 3px auto ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .energy-color-light{
        position: absolute;
        top: 275px;
        left: 10px;
        width:207px;
        height:75px;
        background: rgb(255,255,255);
        opacity:0.9;
    }

    .energy-name-select-color{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .energy-style-select-color{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .energy-category-color{
        position: absolute;
        font-family: 'Forum', cursive;
        background: rgb(255,255,255);
        left: 65px;
        width:115px;
        height:65px;
    }
    .energy-category-color:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }
    /*------*/
    /*----*/

    .energy-electric-power-block-line{
        top: 350px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .energy-electric-power-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 1px 3px auto ;
        background-color: rgb(225,224,207);
    }
    /*----*/

    .energy-electric-power{
        position: absolute;
        top: 355px;
        left: 10px;
        width:207px;
        height:115px;
        background: rgb(255,255,255);
        opacity:0.9;

    }
    .energy-name-select-power{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .energy-style-select-power{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .energy-category-power{
        position: absolute;
        font-family: 'Forum', cursive;
        left: 65px;
        width:115px;
        height:95px;
    }
    .energy-category-power:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }


    /*----*/

    .energy-clasp-block-line{
        top: 468px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .energy-clasp-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 1px 3px auto ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .energy-result{
        top: 473px;
        width:  220px;
        height: 120px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255, 252, 236);
        opacity:0.9;
    }
    /*-------------------------------*/



    /*---------ch_halogen.html----------------------*/



    .field-choice-halogen{
        width:  220px;
        height: 600px;
        position: absolute;
        background: url(../../../publicstirpes/images/main-container/catalog/choiceSpecParam/grid.jpg) no-repeat;
        background-size: 207px 473px;
        background-position: right 1px top 1px;
    }
    .halogen-line-vertical-specparam{
        margin: 1px 2px;

        height:474px;/*470*/
        width: 1px;
        position: absolute;
        background-color: rgb(225,224,207);
        /* border: 1px  rgb(225,224,207); */
    }
    .field-choice-halogen li {
        list-style-type: none; /* Убираем маркеры */
    }
    .field-choice-halogen ul {
        margin-left: 3px; /* Отступ слева в браузере IE и Opera */
        padding-left: 3px; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
    .cross{
        cursor: pointer;
    }

    /*----*/


    .halogen-shape-block-line{
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .halogen-shape-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 1px 3px auto ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .halogen-shape-bulb{
        position: absolute;
        top: 5px;
        left: 10px;
        width:207px;
        height:110px;
        background: rgb(255,255,255);
        opacity:0.9;
    }
    .halogen-name-select-shape{
        width:220px;
        height:20px;
        background:rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .halogen-style-select-shape{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .halogen-category-shape-bulb{
        position: absolute;
        font-family: 'Forum', cursive;
        background:rgb(255,255,255);
        left: 65px;
        width:115px;
        height:90px;
        top: 20px;
    }
    .halogen-category-shape-bulb:hover{
        background:rgb(248,248,248);
        border-radius: 10%;

    }

    /*--------------------------------------------*/
    /*----*/

    .halogen-dado-block-line{
        top: 115px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .halogen-dado-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .halogen-dado{
        position: absolute;
        top: 120px;
        left: 10px;
        width:207px;
        height:110px;
        background:rgb(255,255,255);
        opacity:0.9;
    }
    .halogen-name-select-dado{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .halogen-style-select-dado{
        background:rgb(248,248,248);
        border-radius: 30%;


    }
    .halogen-category-dado{
        position: absolute;
        font-family: 'Forum', cursive;
        background:rgb(255,255,255);
        left: 65px;
        width:115px;
        height:90px;
        top: 20px;
    }
    .halogen-category-dado:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }

    /*------*/

    /*----*/

    .halogen-brand-block-line{
        top: 230px;

        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .halogen-brand-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .halogen-brand{
        position: absolute;
        top: 235px;
        left: 10px;
        width:207px;
        height:40px;
        background: rgb(255,255,255);
        opacity:0.9;
    }
    .halogen-name-select-brand{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .halogen-style-select-brand{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .halogen-category-brand{
        position: absolute;
        font-family: 'Forum', cursive;
        background: rgb(255,255,255);
        left: 65px;
        width:115px;
        height:20px;
    }
    .halogen-category-brand:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }

    /*------*/
    /*----*/

    .halogen-color-light-block-line{
        top: 275px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .halogen-color-light-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .halogen-color-light{
        position: absolute;
        top: 280px;
        left: 10px;
        width:207px;
        height:75px;
        background: rgb(255,255,255);
        opacity:0.9;
    }

    .halogen-name-select-color{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .halogen-style-select-color{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .halogen-category-color{
        position: absolute;
        font-family: 'Forum', cursive;
        background: rgb(255,255,255);
        left: 65px;
        width:115px;
        height:55px;
    }
    .halogen-category-color:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }
    /*------*/
    /*----*/

    .halogen-electric-power-block-line{
        top: 355px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .halogen-electric-power-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin:  2px 3px;
        background-color: rgb(225,224,207);
    }
    /*----*/

    .halogen-electric-power{
        position: absolute;
        top: 360px;
        left: 10px;
        width:207px;
        height:115px;
        background: rgb(255,255,255);
        opacity:0.9;
    }
    .halogen-name-select-power{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .halogen-style-select-power{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .halogen-category-power{
        position: absolute;
        font-family: 'Forum', cursive;
        left: 65px;
        width:115px;
        height:95px;
    }
    .halogen-category-power:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }

    /*-----*/

    .halogen-clasp-block-line{
        top: 474px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .halogen-clasp-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .halogen-result{
        top: 483px;
        width:  220px;
        height: 110px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255, 252, 236);
    }
    /*-------------------------------*/

    /*---------ch_fluorescent.html----------------------*/

    .field-choice-fluorescent{
        width:  220px;
        height: 600px;
        position: absolute;
        background: url(../../../publicstirpes/images/main-container/catalog/choiceSpecParam/grid.jpg) no-repeat;
        background-size: 207px 502px;
        background-position: right 1px top 1px;
    }
    .fluorescent-line-vertical-specparam{
        margin: 1px 2px;
        height:503px;/*470*/
        width: 1px;
        position: absolute;
        background-color: rgb(225,224,207);
    }
    .field-choice-fluorescent li {
        list-style-type: none; /* Убираем маркеры */
    }
    .field-choice-fluorescent ul {
        margin-left: 3px; /* Отступ слева в браузере IE и Opera */
        padding-left: 3px; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
    .cross{
        cursor: pointer;
    }

    /*----*/


    .fluorescent-shape-block-line{
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .fluorescent-shape-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 1px 3px auto ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .fluorescent-shape-bulb{
        position: absolute;
        top: 5px;
        left: 10px;
        width:207px;
        height:140px;
        background: rgb(255,255,255);
        opacity:0.9;
    }
    .fluorescent-name-select-shape{
        width:220px;
        height:20px;
        background:rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .fluorescent-style-select-shape{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .fluorescent-category-shape-bulb{
        position: absolute;
        font-family: 'Forum', cursive;
        background:rgb(255,255,255);
        left: 65px;
        width:115px;
        height:120px;
        top: 20px;
    }
    .fluorescent-category-shape-bulb:hover{
        background:rgb(248,248,248);
        border-radius: 10%;

    }

    /*--------------------------------------------*/
    /*----*/

    .fluorescent-dado-block-line{
        top: 145px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .fluorescent-dado-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .fluorescent-dado{
        position: absolute;
        top: 150px;
        left: 10px;
        width: 207px;
        height:105px;
        background:rgb(255,255,255);
        opacity:0.9;
    }
    .fluorescent-name-select-dado{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .fluorescent-style-select-dado{
        background:rgb(248,248,248);
        border-radius: 30%;


    }
    .fluorescent-category-dado{
        position: absolute;
        font-family: 'Forum', cursive;
        background:rgb(255,255,255);
        left: 65px;
        width:115px;
        height:85px;
        top: 20px;
    }
    .fluorescent-category-dado:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }

    /*------*/

    /*----*/

    .fluorescent-brand-block-line{
        top: 255px;

        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .fluorescent-brand-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .fluorescent-brand{
        position: absolute;
        top: 260px;
        left: 10px;
        width: 207px;
        height:40px;
        background: rgb(255,255,255);
        opacity:0.9;
    }
    .fluorescent-name-select-brand{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .fluorescent-style-select-brand{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .fluorescent-category-brand{
        position: absolute;
        font-family: 'Forum', cursive;
        background: rgb(255,255,255);
        left: 65px;
        width:115px;
        height:20px;
    }
    .fluorescent-category-brand:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }

    /*------*/
    /*----*/

    .fluorescent-color-light-block-line{
        top: 300px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .fluorescent-color-light-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .fluorescent-color-light{
        position: absolute;
        top: 305px;
        left: 10px;
        width:207px;
        height:75px;
        background: rgb(255,255,255);
        opacity:0.9;
    }

    .fluorescent-name-select-color{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .fluorescent-style-select-color{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .fluorescent-category-color{
        position: absolute;
        font-family: 'Forum', cursive;
        background: rgb(255,255,255);
        left: 65px;
        width:115px;
        height:55px;
    }
    .fluorescent-category-color:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }
    /*------*/
    /*----*/

    .fluorescent-electric-power-block-line{
        top: 380px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .fluorescent-electric-power-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/

    .fluorescent-electric-power{
        position: absolute;
        top: 385px;
        left: 10px;
        width:207px;
        height:115px;
        background: rgb(255,255,255);
        opacity:0.9;
    }
    .fluorescent-name-select-power{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .fluorescent-style-select-power{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .fluorescent-category-power{
        position: absolute;
        font-family: 'Forum', cursive;
        left: 65px;
        width:115px;
        height:95px;
    }
    .fluorescent-category-power:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }

    /*-----*/


    .fluorescent-clasp-block-line{
        top: 500px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .fluorescent-clasp-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .fluorescent-result{
        top: 505px;
        width:  220px;
        height: 75px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255, 252, 236);
    }
    /*-------------------------------*/

    /*---------ch_led.html----------------------*/

    .field-choice-led{
        width:  220px;
        height: 600px;
        position: absolute;
        background: url(../../../publicstirpes/images/main-container/catalog/choiceSpecParam/grid.jpg) no-repeat;
        background-size: 207px 520px;
        background-position: right 1px top 1px;
    }
    .led-line-vertical-specparam{
        margin: 1px 2px;

        height:521px;/* */
        width: 1px;
        position: absolute;
        background-color: rgb(225,224,207);
        /* border: 1px  rgb(225,224,207); */
    }
    .field-choice-led li {
        list-style-type: none; /* Убираем маркеры */
    }
    .field-choice-led ul {
        margin-left: 3px; /* Отступ слева в браузере IE и Opera */
        padding-left: 3px; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
    .cross{
        cursor: pointer;
    }

    /*----*/


    .led-shape-block-line{
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .led-shape-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 1px 3px auto ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .led-shape-bulb{
        position: absolute;
        top: 5px;
        left: 10px;
        width:207px;
        height:140px;
        background: rgb(255,255,255);
        opacity: 0.9;
    }
    .led-name-select-shape{
        width:220px;
        height:20px;
        background:rgb(255,255,255);
        font-family: 'Jura', sans-serif;
        opacity:0.9;
    }
    .led-style-select-shape{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .led-category-shape-bulb{
        position: absolute;
        font-family: 'Forum', cursive;
        background:rgb(255,255,255);
        left: 65px;
        width:115px;
        height:120px;
        top: 20px;
    }
    .led-category-shape-bulb:hover{
        background:rgb(248,248,248);
        border-radius: 10%;

    }

    /*--------------------------------------------*/
    /*----*/

    .led-dado-block-line{
        top: 145px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .led-dado-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .led-dado{
        position: absolute;
        top: 150px;
        left: 10px;
        width:207px;
        height:135px;
        background:rgb(255,255,255);
        opacity:0.9;
    }
    .led-name-select-dado{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .led-style-select-dado{
        background:rgb(248,248,248);
        border-radius: 30%;


    }
    .led-category-dado{
        position: absolute;
        font-family: 'Forum', cursive;
        background:rgb(255,255,255);
        left: 65px;
        width:115px;
        height:115px;
        top: 20px;
    }
    .led-category-dado:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }

    /*------*/

    /*----*/

    .led-brand-block-line{
        top: 285px;

        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .led-brand-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .led-brand{
        position: absolute;
        top: 290px;
        left: 10px;
        width:207px;
        height:40px;
        background: rgb(255,255,255);
        opacity:0.9;
    }
    .led-name-select-brand{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .led-style-select-brand{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .led-category-brand{
        position: absolute;
        font-family: 'Forum', cursive;
        background: rgb(255,255,255);
        left: 65px;
        width:115px;
        height:20px;
    }
    .led-category-brand:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }

    /*------*/
    /*----*/

    .led-color-light-block-line{
        top: 330px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .led-color-light-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .led-color-light{
        position: absolute;
        top: 335px;
        left: 10px;
        width:207px;
        height:75px;
        background: rgb(255,255,255);
        opacity:0.9;
    }

    .led-name-select-color{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .led-style-select-color{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .led-category-color{
        position: absolute;
        font-family: 'Forum', cursive;
        background: rgb(255,255,255);
        left: 65px;
        width:115px;
        height:55px;
    }
    .led-category-color:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }
    /*------*/
    /*----*/

    .led-electric-power-block-line{
        top: 410px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .led-electric-power-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/

    .led-electric-power{
        position: absolute;
        top: 415px;
        left: 10px;
        width:207px;
        height:105px;
        background: rgb(255,255,255);
        opacity:0.9;
    }
    .led-name-select-power{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .led-style-select-power{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .led-category-power{
        position: absolute;
        font-family: 'Forum', cursive;
        left: 65px;
        width:115px;
        height:85px;
    }
    .led-category-power:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }

    /*-----*/

    /*-------------------------------*/

    .led-clasp-block-line{
        top: 520px;
        width:  220px;
        height: 5px;
        position: absolute;
    }
    .led-clasp-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .led-result{
        top: 525px;
        width:  220px;
        height: 52px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255, 252, 236);
    }
    /*-------------------------------*/

    /*---------ch_halogen.html----------------------*/


    .field-choice-filament{
        width:  220px;
        height: 600px;
        position: absolute;
        background: url(../../../publicstirpes/images/main-container/catalog/choiceSpecParam/grid.jpg) no-repeat;
        background-size: 207px 440px;
        background-position: right 1px top 1px;
    }
    .filament-line-vertical-specparam{
        margin: 1px 2px;
        height:441px;
        width: 1px;
        position: absolute;
        background-color: rgb(225,224,207);
    }
    .field-choice-filament li {
        list-style-type: none; /* Убираем маркеры */
    }
    .field-choice-filament ul {
        margin-left: 3px; /* Отступ слева в браузере IE и Opera */
        padding-left: 3px; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
    .cross{
        cursor: pointer;
    }

    /*----*/


    .filament-shape-block-line{
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .filament-shape-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 1px 3px auto ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .filament-shape-bulb{
        position: absolute;
        top: 5px;
        left: 10px;
        width:207px;
        height:80px;
        background: rgb(255,255,255);
        opacity:0.9;
    }
    .filament-name-select-shape{
        width:220px;
        height:20px;
        background:rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .filament-style-select-shape{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .filament-category-shape-bulb{
        position: absolute;
        font-family: 'Forum', cursive;
        background:rgb(255,255,255);
        left: 65px;
        width:115px;
        height:60px;
        top: 20px;
    }
    .filament-category-shape-bulb:hover{
        background:rgb(248,248,248);
        border-radius: 10%;

    }

    /*--------------------------------------------*/
    /*----*/

    .filament-dado-block-line{
        top: 85px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .filament-dado-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .filament-dado{
        position: absolute;
        top: 90px;
        left: 10px;
        width:207px;
        height:85px;
        background:rgb(255,255,255);
        opacity:0.9;
    }
    .filament-name-select-dado{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .filament-style-select-dado{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .filament-category-dado{
        position: absolute;
        font-family: 'Forum', cursive;
        background:rgb(255,255,255);
        left: 65px;
        width:115px;
        height:65px;
        top: 20px;
    }
    .filament-category-dado:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }

    /*------*/

    /*----*/

    .filament-brand-block-line{
        top: 175px;

        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .filament-brand-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .filament-brand{
        position: absolute;
        top: 180px;
        left: 10px;
        width:207px;
        height:50px;
        background: rgb(255,255,255);
        opacity:0.9;
    }
    .filament-name-select-brand{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .filament-style-select-brand{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .filament-category-brand{
        position: absolute;
        font-family: 'Forum', cursive;
        background: rgb(255,255,255);
        left: 65px;
        width:115px;
        height:30px;
    }
    .filament-category-brand:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }

    /*------*/
    /*----*/

    .filament-color-light-block-line{
        top: 230px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .filament-color-light-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .filament-color-light{
        position: absolute;
        top: 235px;
        left: 10px;
        width:207px;
        height:85px;
        background: rgb(255,255,255);
        opacity:0.9;
    }

    .filament-name-select-color{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .filament-style-select-color{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .filament-category-color{
        position: absolute;
        font-family: 'Forum', cursive;
        background: rgb(255,255,255);
        left: 65px;
        width:115px;
        height:65px;
    }
    .filament-category-color:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }
    /*------*/
    /*----*/

    .filament-electric-power-block-line{
        top: 320px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .filament-electric-power-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/

    .filament-electric-power{
        position: absolute;
        top: 325px;
        left: 10px;
        width:207px;
        height:115px;
        background: rgb(255,255,255);
        opacity:0.9;
    }
    .filament-name-select-power{
        width:220px;
        height:20px;
        background: rgb(255,255,255);
        font-family: 'Jura', sans-serif;
    }
    .filament-style-select-power{
        background:rgb(248,248,248);
        border-radius: 30%;
    }
    .filament-category-power{
        position: absolute;
        font-family: 'Forum', cursive;
        left: 65px;
        width:115px;
        height:95px;
    }
    .filament-category-power:hover{
        background:rgb(248,248,248);
        border-radius: 10%;
    }

    /*-----*/

    /*-------------------------------*/

    /*----*/

    .filament-clasp-block-line{
        top: 442px;
        width:  220px;
        height: 5px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255,255,255);
    }
    .filament-clasp-cell-line{
        width:  214px;
        height: 1px;
        position: absolute;
        margin: 2px 3px  ;
        background-color: rgb(225,224,207);
    }
    /*----*/
    .filament-result{
        top: 473px;
        width:  220px;
        height: 120px;
        position: absolute;
        margin: 0 auto  ;
        background-color: rgb(255, 252, 236);
    }
    /*-------------------------------*/

    /*-------------------------------*/
        .screen-market{
            width: 480px;
            height: 800px;
            position: absolute;
            margin:  auto auto auto 220px;
            background-color: rgb(255,255,255);

        }
           .circle-show{
               width: 480px;
               height: 200px;
               position: relative;
               margin:  auto ;
               background-color: rgb(255,255,255);
           }
           .field-show{
               width: 480px;
               height: 600px;
               position: relative;
               margin:  auto ;
               background-color: rgb(248,248,248);
           }

           /*---------------------------------------*/
    .carousel{
        -moz-border-radius: 45px;
        -webkit-border-radius: 10px;
        border-radius: 45px;
        overflow:hidden;
        z-index: 1000;
    }
            .col,
            .col-1,
            .col-2,
            .col-3,
            .col-4,
            .col-5,
            .col-6,
            .col-7,
            .col-8,
            .col-9,
            .col-10,
            .col-11,
            .col-12,
            .col-sm-1,
            .col-sm-2,
            .col-sm-3,
            .col-sm-4,
            .col-sm-5,
            .col-sm-6,
            .col-sm-7,
            .col-sm-8,
            .col-sm-9,
            .col-sm-10,
            .col-sm-11,
           .col-sm-12{

              margin-top: 0px;
              /*
              background: #eee;

              border-right: 1px solid #999;
              border-left:  1px solid #999;
              */
           }

           .container{
              background: #eee;
              border-right: 0px solid #999;
              border-left:  0px solid #999;
              margin-top: auto;
           }
           .container-fluid{

            background: #949494;

            margin-top: auto;
          }

          .box-slider{
            /*
            */
              width:480px;
              height: 200px;
              position: absolute;
              left: 0px;
              background-color: rgb(255,255,255);
          }


    .carousel-indicators .active {
        background-color: #000;
    }

    .carousel-control-prev,
    .carousel-control-next {

    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }


           /*---------------------------------------*/
    /*
              .logo-catalog{
                  width: 480px;
                  height: 250px;

              position: relative;
              margin:  300px auto ;
              background-color: rgb(123,240,231);

           }
    */
        .notice{
            width: 100px;
            height: 800px;
            position: absolute;
            margin:  auto auto auto 700px;
            background-color: rgb(255, 255, 255);
        }
           .notice-setting{
               width: 100px;
               height: 200px;
               position: relative;
               margin: 0 auto  ;
               background-color: rgb(255,255,255);
           }

              .option-block{
                  width: 50px;
                  height: 30px;
                  left: 50px;
                  position: absolute;
                  margin: 0 auto  ;
                  background-color: rgb(248,248,248);
                  border-radius: 10px;
              }
              .option-block:hover{
                  background-color: rgb(235,246,250);
              }
    /*156,185,219 */

                 .option-block-line-1{
                     width: 40px;
                     height: 6px;
                     margin: 2px 5px;
                     position: absolute;

                     background-color: rgb(193,193,193);
                     border-radius: 45%;
                 }

                 .option-block-line-2{
                     width: 40px;
                     height: 6px;
                     top: 12px;
                     left: 5px;
                     position: absolute;

                     background-color: rgb(193,193,193);
                     border-radius: 45%;
                 }
                 .option-block-line-3{
                     width: 40px;
                     height: 6px;
                     top: 22px;
                     left: 5px;
                     position: absolute;

                     background-color: rgb(193,193,193);
                     border-radius: 45%;
                 }
           .option-column{
               width: 16px;
               height: 170px;
               top: 30px;
               left: 84px;
               position: absolute;

               background-color: rgb(248,248,248);
               border-radius: 45%;
           }
           .option-column:hover{
               background-color: rgb(235,246,250);  /*156,185,219 */
           }
              .option-column-within{
                  width: 10px;
                  height: 164px;
                  margin: 3px 3px;
                  position: absolute;

                  background-color: rgb(193,193,193);
                  border-radius: 45%;
              }
           .notice-market{
               width: 100px;
               height: 600px;
               position: relative;
               margin: 0 auto  ;
               background-color: rgb(163,184,152);
           }

    .footer-container{

    }
    .logo-brand{

    }
    .basement{
        margin: 875px auto auto auto;
        width: 800px;
        height: 80px;
        background-color: rgb(238,238,238);
    }
    .common-info{

    }

}

